body {
  background-image: url("images/howl.png");
  background-position-x: 35%;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.congratulations-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.greeting-text {
  color: pink;
  font-family: Georgia, serif;
  font-size: 50px;
  text-align: center;
  text-shadow: 3px 3px black;
}

.wishing-text {
  color: white;
  font-family: Arial, sans-serif;
  font-size: 30px;
  margin-bottom: 100px;
  text-align: center;
  text-shadow: 3px 3px black;
}

.poem-text {
  background-color: lightgray;
  border-radius: 5px;
  font-size: 40px;
  font-style: italic;
  line-height: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: fit-content;
}

.sign-off-text {
  color: plum;
  font-family: cursive;
  font-size: 25px;
  margin-bottom: 100px;
  text-align: center;
  text-shadow: 2px 2px black;
}

iframe {
  display: block;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
